name: Run Commitlint on PR
on:
  pull_request:
jobs:
  run-commitlint-on-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install Commitlint
        run: npm install --save-dev @commitlint/{cli,config-conventional}

      - name: Validate all commits from PR using Commitlint
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose